@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply bg-primary dark:bg-black text-textPrimary dark:text-primary;
	scroll-behavior: smooth;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

main.main {
	@apply theme grid min-h-dvh grid-rows-[auto_1fr_auto];
}

.word-break-word {
	word-break: break-word;
}

.theme {
	@apply bg-light dark:bg-dark text-dark dark:text-light;
}

.question-description {
	li {
		margin-left: 1.5rem;
		@apply list-disc;
	}
}
